.documentation{
    width: 100%;
    height: auto;
    background-color: #D4E3E7;
    .doclogo{
        width: 596px;
        height: 349px;
        display: flex;
        align-items: center;
    }
    h1{
        margin-bottom: 1.5rem;
        font-weight: 700;
        color: #2F2E41;
        font-size: 56px;
    }
    p{
        line-height: 1.8;
        color: #2F2E41;
        font-size: 16px;
    }
}