footer{
    background-color: #101010;
    i{
        font-size:12px;
    }


    #sosial{
        li{
            width:30px;
            height: 30px; 
            background-color: #4f4848;
            &:hover{
                background-color: #0d6efd;
                transition:1s;
            }
       
        }
    }
}