.secOne{
    width: 100%;
    height: auto;
    background-color: #2F2E41;
    color: #fff;
    .myh4{
        width: 40%;
        h4{
            font-size: 18px;
            font-weight: 600;
            line-height: 1.5;
            span{
                color: #F9BE79;
            }
        }

    }

}