@import 'header';
@import 'reset';
@import 'hero';
@import 'secOne';
@import 'secTwo';
@import 'documentation';
@import 'members';
@import 'footer';
.numbers{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.numbers a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .numbers a.active {
    background-color: #2F2E41;
    color: white;
    border: 1px solid #2F2E41;
  }
  
  .numbers a:hover:not(.active) {background-color: #2F2E41;}